<form #postForm="ngForm" (ngSubmit)=addPost()><div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Post Title" [(ngModel)] = "title" name = "title" type = "text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Post Body" [(ngModel)] = "body" name = "body" type = "text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Post Author" [(ngModel)] = "username" name = "username" type = "text">
    </mat-form-field>
    <button mat-button (click)=addPost()>Add Post</button>
  </div>
</form>

