<p *ngIf = "!(books$ | async)">Loading Books...</p>
<button mat-raised-button color="primary" routerLink ="/add-book" routerLinkActive = "Active">Add Book</button>
<mat-accordion>
  <mat-expansion-panel 
  (opened)="panelOpenState=true"
  (closed)="panelOpenState=false"
  *ngFor="let book of books$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{book.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{book.author}}</p>
    <a [routerLink] = "['/edit-book', book.id, book.title, book.author]" >Edit Book</a>
    <a (click)="deleteBook(book.id)">Delete Book</a>
    </mat-expansion-panel>
</mat-accordion>
