<form #bookForm="ngForm" (ngSubmit)=editBook()><div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Book Title" [(ngModel)] = "title" name = "Etitle" type = "text">
      <mat-error *ngIf = "!(Etitle.invalid)"> {{getTitleErrorMessage()}} </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Book Author" [(ngModel)] = "author" name = "Eauthor" type = "text">
      <mat-error *ngIf = "!(Eauthor.invalid)">{{getAuthorErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-button>Submit Changes</button>
  </div>
</form>

