<form #bookForm="ngForm" (ngSubmit)=addBooks()><div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Book Title" [(ngModel)] = "title" name = "title" type = "text">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Book Author" [(ngModel)] = "author" name = "author" type = "text">
    </mat-form-field>
    <button mat-button>Add Book</button>
  </div>
</form>

