<p *ngIf = "!(posts$ | async)">Loading Posts...</p>
<button mat-raised-button color="primary" (click) ="addToDB()">Add To DB</button>
<mat-accordion>
  <mat-expansion-panel 
  (opened)="panelOpenState=true"
  (closed)="panelOpenState=false"
  *ngFor="let post of posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.body}}</p>
    <p>Written By: {{post.username}}</p>
    <!-- <a [routerLink] = "['/edit-book', book.id, book.title, book.author]" >Edit Book</a>
    <a (click)="deleteBook(book.id)">Delete Book</a> -->
    </mat-expansion-panel>
</mat-accordion>
